* {
  box-sizing: border-box;
}

body,
#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

canvas {
  width: 100%;
  height: 100%;
  /* background-color: pink; */
}

input {
  color: red;
  background-color: yellow;
  position: absolute;
  z-index: 50;
  top: 10;
  left: 10px;
}
.AudioSwitch {
  color: black;
  height: 150px;
  width: 150px;
  font-family: "Courier New", Courier, monospace;
  background-color: rgb(142, 142, 142);
  border: 1px solid black;
  border-radius: 75px;
  position: absolute;
  left: -650px;
  bottom: -330px;
}
